/* Tenant-specific CSS File*/
/* Customer 002 - TEC*/

#ModalContactInfo .modal-header h5 {
    background: url('/_tenant/images/raggantssbs_or.png') 0 50% no-repeat;
    background-size: 20% auto;
    color: black;
    margin: 0px;
    padding: 10px 0 10px 145px;
    font-size: 20px;
}
/*#ModalContactInfo .modal-title {
    padding-left: 100px;
}*/

#ModalCalendarInfo .modal-header h5 {
    background: url('/_tenant/images/raggantssbs_or.png') 0 50% no-repeat;
    background-size: 20% auto;
    color: black;
    margin: 0px;
    padding: 10px 0 10px 145px;
    font-size: 20px;
}

#ModalChildrenInfo .modal-header h5 {
    background: url('/_tenant/images/raggantssbs_or.png') 0 50% no-repeat;
    background-size: 20% auto;
    color: black;
    margin: 0px;
    padding: 10px 0 10px 145px;
    font-size: 20px;
}

#ModalProfilePic .modal-header h5 {
    background: url('/_tenant/images/raggantssbs_or.png') 0 50% no-repeat;
    background-size: 20% auto;
    color: black;
    margin: 0px;
    padding: 10px 0 10px 145px;
    font-size: 20px;
}
#ModalPrayerInfo .modal-header h5 {
    background: url('/_tenant/images/raggantssbs_or.png') 0 50% no-repeat;
    background-size: 20% auto;
    color: black;
    margin: 0px;
    padding: 10px 0 10px 145px;
    font-size: 20px;
}
#ModalPrayerApprove .modal-header h5 {
    background: url('/_tenant/images/raggantssbs_or.png') 0 50% no-repeat;
    background-size: 20% auto;
    color: black;
    margin: 0px;
    padding: 10px 0 10px 145px;
    font-size: 20px;
    #ModalPrayerInfo .modal-header h5
}
#ModalPrayerReject .modal-header h5 {
    background: url('/_tenant/images/raggantssbs_or.png') 0 50% no-repeat;
    background-size: 20% auto;
    color: black;
    margin: 0px;
    padding: 10px 0 10px 145px;
    font-size: 20px;
}
#ModalPrayerNew .modal-header h5 {
    background: url('/_tenant/images/raggantssbs_or.png') 0 50% no-repeat;
    background-size: 20% auto;
    color: black;
    margin: 0px;
    padding: 10px 0 10px 145px;
    font-size: 20px;
}
