<?xml version="1.0" encoding="utf-8"?>
  <settings>
    <customer>
      <ID>
        002
      </ID>
      <name>
        Evangel Classical School
      </name>
      <nickname>
        ECS
      </nickname>
      <title>
        ECS Family Connection
      </title>
      <banner>
        
      </banner>
      <backsplash>
        cropped-ECS-2016-31.jpg
      </backsplash>
      <logo>
        
      </logo>
    </customer>
    <theme>
      ECS
    </theme>
  </settings>