<?xml version="1.0" encoding="utf-8"?>
  <settings>
    <customer>
      <ID>
        002
      </ID>
      <name>
        Evangel Classical School
      </name>
      <nickname>
        ECS
      </nickname>
      <title>
        ECS Family Connection
      </title>
      <banner>
        url('/_tenant/images/x.jpg')
      </banner>
      <backsplash>
        url('/_tenant/images/cropped-ECS-2016-51.jpg')
      </backsplash>
      <logo>
        url('/_tenant/images/raggantssbs_or.png')
      </logo>
      <nav_logo>
        /_tenant/images/raggantssbs_or.png
      </nav_logo>
      <tagline>
        Risus est bellum.
      </tagline>
      <special1> <!--Home Page Mission Statement Image-->
        url('/_tenant/images/Mission.png')
      </special1>
      <contact>
        firebird@hoeglund.com
      </contact>
    </customer>
    <theme>
      ECS
    </theme>
  </settings>